@model SistemaMvc.Models.Produto

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dvencimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dvencimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

    </dl>
</div>
<a class="btn btn-warning btn-icon-split" href="~/Fornecedor/Index">
    <span class="icon text-white">
        <i class="fas fa-arrow-circle-left"></i>
    </span>
    <span class="text text-white">Voltar</span>
</a>