@model IEnumerable<SistemaMvc.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Listar</h2>

<a class="btn btn-warning btn-icon-split" href="~/Fornecedor/Create">
    <span class="icon text-white">
        <i class="fas fa-plus-circle"></i>
    </span>
    <span class="text text-white">Adicionar</span>
</a>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fornecedor.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dvencimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dvencimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
